.App {
  /* text-align: center; */
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; */
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  /* color: #61dafb; */
}

#root,
html,
body {
  height: 100%
}

.header {
  /* width: 220px; */
  width: 100%;
  bottom: 0;
  top: 0;
  text-align: right;
  z-index: 9;
  position: fixed;
}

.logo {
  /* font-size: 40px; */
  /* color: #000000; */
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
}

.logo h1{
  font-size: 40px;
}

.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
/* .mylogo {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 60px;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: right;
  
} */

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.col-example {
  /* padding: 1rem; */
  /* background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff; */
  /* text-align: center; */
}

.projects {
  padding-left: 80px;
  padding-right: 50px;
}

.project-item {
  position: relative;
  margin-bottom: 40px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


.ToggleSwitch {
  position: relative;
  width: 5rem;
  height: 2.35rem;
  display: inline-block;
}
.ToggleSwitch.ToggleSwitch__rounded .Slider {
  border-radius: 15rem;
  background: #eceff1;
  border: 1px solid #A0A0A0;
}
.ToggleSwitch.ToggleSwitch__rounded .Slider:before {
  border-radius: 50%;
}
.ToggleSwitch .ToggleSwitch__wrapper {
  position: relative;
  width: 5rem;
  height: 2.35rem;
}
.ToggleSwitch .ToggleSwitch__wrapper .Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s ease;
}
.ToggleSwitch .ToggleSwitch__wrapper .Slider:before {
  width: 2.45rem;
  height: 2.45rem;
  position: absolute;
  background: #fff;
  content: '';
  margin: 0;
  padding: 0;
  top: 50%;
  left: 0.10rem;
  transform: translateY(-50%);
  transition: .4s;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.ToggleSwitch .ToggleSwitch__wrapper .Slider.isChecked {
  background: #fff;
}
.ToggleSwitch .ToggleSwitch__wrapper .Slider.isChecked:before {
  left: calc(100% - 0.10rem - 2.45rem);
  background: #0099ff;
}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}